# Midnight MCP Server Environment Variables
# Copy this file to .env for local development
AGENT_ID=dckr

# Network ID (optional, defaults to TestNet)
# Options: MainNet, TestNet, DevNet
NETWORK_ID=TestNet

# External Proof Server Configuration
# Set to true to use an external proof server instead of starting one internally
USE_EXTERNAL_PROOF_SERVER=true
# Required when USE_EXTERNAL_PROOF_SERVER=true
PROOF_SERVER=http://localhost:6300
INDEXER=https://indexer.testnet-02.midnight.network/api/v1/graphql
INDEXER_WS=wss://indexer.testnet-02.midnight.network/api/v1/graphql/ws
MN_NODE=https://rpc.testnet-02.midnight.network

# Docker Compose Configuration
MCP_PORT=3000
PROOF_SERVER_PORT=6300

# auth
CHECK_AUTH=false

# Logging Configuration
LOG_LEVEL=info

# Shielded tokens configuration
# TOKENS_1="NAME:SIMBOL:002ADDRESS002:DOMAIN:DESCRIPTION:DECIMALS"
# TOKENS_2="EXAMPLE:EXM:0200fed8d029eefb2520356354b52d20c2acbd05cb41ed8581af9fcd22e58acd508b:my_token_exmaple_domain:This token is a shielded token example:6"

# DAO Configuration Example
# Format: CONTRACT_ADDRESS:VOTE_COIN_COLOR:VOTE_COIN_VALUE:FUND_COIN_COLOR:FUND_COIN_VALUE:DESCRIPTION

# Example DAO configuration
# DAO="0x1234567890abcdef:0x456:500:0x789:1000:Custom DAO for voting"